<div class="col-12 col-sm-6">
    <h3> {{ listName() }}</h3>
    <ul>
      @for (character of characters(); track character.id; let idx = $index) {
      @if (character.power>500) {
        <li >
          <span>{{ idx + 1}} - {{ character.name }}</span>
          <strong
            [class.text-danger]="character.power>9000"
            [class.text-warning]="character.power<9000 && character.power>4000"
            [class.text-success]="character.power<4000 && character.power>1000"
            [class.text-secondary]="character.power<1000"
          >

            <!-- [ngClass]="powerClasses()"     -->
            ({{ character.power }})
          </strong>
        </li>
      } @else {
        <li><strong>Aqui no hay nadie</strong></li>
      }

      }
    </ul>
  </div>
